@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-container{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    flex-direction: column;
}
.login-container h1{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}
.login-container form{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.login-container form input{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;

}
.login-container form input:focus{
    outline: none;
}
.login-container form button{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: orange;
    font-size: 20px;
    cursor: pointer;
}
